<header class="frontpage">
  <%= link_to root_path, class: 'logo' do %>
    <h1>Home</h1>
    <%= image_tag('logo.png') %>
  <% end %>
</header>
<nav class="strokes">
  <ul id="navigation">
    <li>
      <%= link_to about_path, 'data-transition' => "slide-to-top" do %>
        <section>
          <h1>A PROPOS</h1>
          <h5 class="badge-rounded">A propos de nous</h5>
        </section>
        <footer>
          <i class="icon icon-Search"></i>
          <h5 class="serif">Nous découvrir</h5>
          <p>En savoir +</p>
        </footer>
      <% end %>
    </li>
    <li>
      <%= link_to default_menu_path, 'data-transition' => "slide-to-top" do %>
        <section>
          <h1>MENU</h1>
          <h5 class="badge-rounded">Notre cuisine</h5>
        </section>
        <footer>
          <i class="icon icon-Book"></i>
          <h5 class="serif">Nous découvrir</h5>
          <p>En savoir +</p>
        </footer>
      <% end %>
    </li>
    <li>
      <%= link_to about_path, 'data-transition' => "slide-to-top" do %>
        <section>
          <h1>A PROPOS</h1>
          <h5 class="badge-rounded">A propos de nous</h5>
        </section>
        <footer>
          <i class="icon icon-Search"></i>
          <h5 class="serif">Nous découvrir</h5>
          <p>En savoir +</p>
        </footer>
      <% end %>
    </li>
    <li>
      <%= link_to about_path, 'data-transition' => "slide-to-top" do %>
        <section>
          <h1>A PROPOS</h1>
          <h5 class="badge-rounded">A propos de nous</h5>
        </section>
        <footer>
          <i class="icon icon-Search"></i>
          <h5 class="serif">Nous découvrir</h5>
          <p>En savoir +</p>
        </footer>
      <% end %>
    </li>
    <li>
      <%= link_to about_path, 'data-transition' => "slide-to-top" do %>
        <section>
          <h1>A PROPOS</h1>
          <h5 class="badge-rounded">A propos de nous</h5>
        </section>
        <footer>
          <i class="icon icon-Search"></i>
          <h5 class="serif">Nous découvrir</h5>
          <p>En savoir +</p>
        </footer>
      <% end %>
    </li>
    <li>
      <%= link_to about_path, 'data-transition' => "slide-to-top" do %>
        <section>
          <h1>A PROPOS</h1>
          <h5 class="badge-rounded">A propos de nous</h5>
        </section>
        <footer>
          <i class="icon icon-Search"></i>
          <h5 class="serif">Nous découvrir</h5>
          <p>En savoir +</p>
        </footer>
      <% end %>
    </li>
  </ul>
</nav>
