<h1>Livraison</h1>
<div class="error-box" style="display: none;"></div>
<%= form_for(@order, url: {action: "create"}, html: {name: 'new-order', class: 'simple-form'}) do |order_form|%>
  <h2>Adresse</h2>
  <%= fields_for @order.address do |address_form| %>
    <%= address_form.label :adresse_ligne_1 %>
    <%= address_form.text_field :address1, name: "order[address][address1]" %>
    <%= address_form.label :adresse_ligne_2 %>
    <%= address_form.text_field :address2, name: "order[address][address2]" %>
    <%= address_form.label :ville %>
    <%= address_form.text_field :city, name: "order[address][city]" %>
    <%= address_form.label :code_postal %>
    <%= address_form.text_field :postcode, name: "order[address][postcode]" %>
  <% end %>
  <h2>Contact</h2>
  <%= fields_for @order.contact do |contact_form| %>
    <%= contact_form.label :titre %>
    <% options = [['Madame', 1], ['Monsieur', 2], ['Mademoiselle', 3]]%>
    <%= contact_form.select(:title, options, {}, name: "order[contact][title]") %>
    <br/>
    <%= contact_form.label :prénom %>
    <%= contact_form.text_field :first_name, name: "order[contact][first_name]" %>
    <%= contact_form.label :nom %>
    <%= contact_form.text_field :last_name, name: "order[contact][last_name]" %>
    <%= contact_form.label :email %>
    <%= contact_form.text_field :email, name: "order[contact][email]" %>
    <%= contact_form.label :téléphone %>
    <%= contact_form.text_field :phone, name: "order[contact][phone]" %>
  <% end %>
  <%= submit_tag("Confirmer", class: 'right-btn') %>
<% end %>
