<!DOCTYPE html>
<html>
  <head>
    <title>Laporcelaine</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- The splash screen -->
    <div id="splash">
      <div class="loader">
        <img class="splash-logo">
        <div class="line"></div>
      </div>
    </div>
    <!-- End of splash screen -->
    <div id="wrapper">
      <header id="cd-cart-header">
        <div id="cd-cart-trigger"><a class="cd-img-replace" href="#0">Cart</a></div>
      </header>
      <main>
        <%= yield %>
      </main>
    </div>
    <div id="cd-shadow-layer"></div>
    <div id="cd-cart">
      <header class="cd-cart-top"> </header>
      <h2>Cart</h2>
      <ul id="cd-cart-items">
      </ul> <!-- cd-cart-items -->

      <div id="cd-cart-total">
        <p>Total <span>0€</span></p>
      </div> <!-- cd-cart-total -->

      <a href="#0" class="checkout-btn">Checkout</a>

      <p class="cd-go-to-cart"><a href="#0">Go to cart page</a></p>
    </div> <!-- cd-cart -->

    <%= unordered_list(slideshow_images, id: 'slideshow') do |img_src| %>
      <% content_tag(:li, nil) do %>
        <% image_tag(img_src, alt: "slideshow image") %>
      <% end %>
    <% end %>
  </body>
</html>
